<div class="bg-image">
    <img
      [src]="imgSrc"
      class="w-100 rounded-3"
      alt="Alternative text"
      height="400px"
      style="object-fit: cover"
    />
    <div
      class="mask"
      style="
        background: linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0) 50%,
          hsla(0, 0%, 0%, 0.5)
        );
      "
    >
      <div
        class="
          me-2
          d-flex
          align-items-end
          h-100
          text-end
          justify-content-end
        "
      >
        <div>
         <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>