/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

// This fontface is mainly used for Website Name
@font-face {
  font-family: "Salvar";
  src: local("Salvar"),
    url(./assets/fonts/SalvarRegular-gxwoP.ttf) format("truetype");
}

body {
  background-color: rgb(49, 49, 49);
  font-family: "Rubik", sans-serif;
  color: white;
}

a {
  color: white;
}

.bg-gray-custom{
  background-color: #363535;
}

.txt-marsColor-custom{
  color: #c1440e;
}

// .blue-color-600 {
//  color: #1E88E5 !important;
// }

// .blue-bg-600{
//   background-color: #1E88E5 !important;
// }

// .navbar-light .navbar-nav .nav-link.active{
//   color: #1E88E5 !important;
//   font-weight: lighter;
// }
